<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812209006929-7irqq686b6c5t0jr4v30buegj6soe2o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812209006929-7irqq686b6c5t0jr4v30buegj6soe2o1</string>
	<key>API_KEY</key>
	<string>AIzaSyAaoCt58rlR8gY944fuirj4uVtqGqOtU-I</string>
	<key>GCM_SENDER_ID</key>
	<string>812209006929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-1d5d9</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-1d5d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812209006929:ios:e93e42dd01f9a4a28acb70</string>
</dict>
</plist>